---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Load fonts

@font-face {
    font-family: "DavidLibre";
    src: local("DavidLibre-Regular.ttf"),
	 url("/zakhn/fonts/DavidLibre-Regular.ttf"),
	 url('https://fonts.googleapis.com/css2?family=David+Libre&display=swap');
    font-weight: 400;
}

@font-face {
    font-family: "David Libre";
    src: local("DavidLibre-Medium.ttf"),
	 url("/fonts/DavidLibre-Medium.ttf"),
	 url('https://fonts.googleapis.com/css2?family=David+Libre:wght@500&display=swap');
    font-weight: 500;
}

@font-face {
    font-family: "David Libre";
    src: local("DavidLibre-Bold.ttf"),
	 url("/fonts/DavidLibre-Bold.ttf"),
	 url('https://fonts.googleapis.com/css2?family=David+Libre:wght@700&display=swap');
    font-weight: 700;
}

//	 url('https://fonts.googleapis.com/css2?family=David+Libre:wght@400;500;700&display=swap');

// Our variables
$base-font-family: DavidLibre, "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   1.2rem;
$base-font-weight: 400;
$shtark-font-weight: 500;
$shtarker-font-weight: 700;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.4rem;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      hsla(25, 90%, 50%, 100%);
$brand-color-light: hsla(25, 90%, 60%, 100%);
$brand-color-dark: hsla(25, 90%, 40%, 100%);

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$turquoise-color: hsla(171, 80%, 60%, 100%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
	"effects"
;
