---
layout: default
---

<div class="home">

  <div class="block">
    <div class="yi rizik roket">אינסטרוקציעס פֿאַר אַ ייִדישער צוקונפֿט</div>
    <code class="en trans">Code for a Yiddish future</code><br>
        <code class="en"><a href="{% post_url 2020-08-06-sholem-aleykhem-velt %}">זיך אָנשליסן / Get involved</a></code>
  </div>

  <div class="block">
    <h2 class="yi heading bg_stripes">פּראָיעקטן</h2>

  <div class="block">
    <h3 class="yi heading">
      אונדזער נײַע, אומזיסטע, QWERTYשע
      <div class="keyboard">
	{% assign vert = "ק ל אַ װ י אַ ט ו ר" | split: " " %}
	{% for os in vert %}
	  <a href="{{ site.baseurl }}/klaviatur" class="key">{{ os }}</a>
	{% endfor %}
      </div>
      פֿאַר מאַק־אָ.ס. און פֿענצטער 10      
    </h3>
    <p><code class="en trans">Our free QWERTYish Yiddish keyboard for macOS and Windows 10</code></p>
    <a href="{{ site.baseurl }}/klaviatur">אַראָפּלאָד / Download</a>
  </div>

  </div>
  
  <h2 class="heading bg_stripes"> בלאָג</h2>

  <div class="post-list block">
    {% for post in site.posts %}
    <div class="{% if post.lang == 'yi' %}rtl{% else %}ltr{% endif %}">
        <span class="post-meta">{{ post.date | date: "%-d/%m/%Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </div>
    {% endfor %}

      <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
  </div>

  <div>
    {% include kollektiv.html %}
  </div>
</div>
