<ul class="kollektiv">
  {% for author in site.authors %}
  <li>
    <img class="rounded" src="/zakhn/img/{{ author.photo }}">
    <p class="yi shtarker">{{ author.name_yi }}</p>
    <p class="en"><code>{{ author.name_en }}</code></p>
    {% if author.twitter %}
    <p class="en"><a href="https://www.twitter.com/{{ author.twitter }}">@{{ author.twitter }}</a></p>
    {% endif %}
    <p>{{ author.biog_yi | markdownify }}</p>
    <p class="en"><code class="trans">{{ author.biog_en }}</code></p>
  </li>
  {% endfor %}
</ul>
