/**
 * Reset some basic elements
 */
* {
    margin: 0;
    padding: 0;
}


/**
 * Basic styling
 */
body {
    background-color: $background-color;
    color: $text-color;
    direction: rtl;
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}

.rtl,
.yi {
    direction: rtl;
}

.ltr,
.en {
    direction: ltr;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    margin-bottom: 1rem;
    
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: $shtarker-font-weight;
}

h2.heading,
h3.heading {
    font-size: calc(2 * #{$base-font-size});
    font-weight: 500;
    line-height: calc(2 * #{$base-line-height});

    @include media-query($on-palm) {
	font-size: calc(1.5 * #{$base-font-size});
	line-height: calc(1.5 * #{$base-line-height});
    }
    
}


/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:hover {
        color: $brand-color-light;
        text-decoration: underline;
    }

    &:visited {
        color: $brand-color-dark;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

.en.trans::before {
    content: "ענגליש > ";
}

/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}

/**
 * Blocks
 */
.block:not(:last-child) {
    margin-bottom: 20vh;

    @include media-query($on-laptop) {
	margin-bottom: 5em;
    }
}

/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

.roket::after {
    content: "\01F680"; // Rocket emoji
    display: inline-block;
    transform: scale(-1, 1);
}

.shtark {
    font-weight: #{$shtark-font-weight};
}

.shtarker {
    font-weight: #{$shtarker-font-weight};
}

.groys {
    line-height: calc(4 * #{$base-line-height});
    font-size: calc(4 * #{$base-font-size});
    font-weight: 700;

    @include media-query($on-laptop) {
	line-height: calc(3 * #{$base-line-height});
	font-size: calc(3 * #{$base-font-size});
    }

    @include media-query($on-palm) {
	line-height: calc(1.5 * #{$base-line-height});
	font-size: calc(1.5 * #{$base-font-size});
    }
}

.rizik {
    // Rizik: Huge
    line-height: calc(6 * #{$base-line-height});
    font-size: calc(6 * #{$base-font-size});
    font-weight: $shtarker-font-weight;
    max-width: 17ch;

    @include media-query($on-laptop) {
	line-height: calc(4 * #{$base-line-height});
	font-size: calc(4 * #{$base-font-size});
    }

    @include media-query($on-palm) {
	line-height: calc(2.5 * #{$base-line-height});
	font-size: calc(2.5 * #{$base-font-size});
    }
}
