// Better typewriter effect, with js: https://code-boxx.com/simple-pure-javascript-typewriter-effect/

.shraybmashin {
    overflow: hidden;
    border-left: .05em solid orange;
    white-space: nowrap;
    letter-spacing: .05em;
    animation:
	typing 1.5s steps(40, end),
	blink-caret .75s step-end infinite;
}

@keyframes typing {
    from {
	width: 0;
    }
    to {
	width: 100%;
    }
}

@keyframes blink-caret {
    from, to {
	border-color: transparent
    } 50% {
	border-color: orange;
    }
}

.keyboard {
    display: block;
    font-size: 1rem;
    margin: .8rem 0;
    padding: 0;
    white-space: nowrap;

    @include media-query($on-palm) {
	font-size: 0.7rem;
    }

    .key {
	$vpad: 0;
	$shad: .5em;
	$diff: 5px;
	
	background-color:  $brand-color;
	border: 1px $brand-color-light solid;
	border-radius: 3px;
	box-shadow: 0 $shad 0 $brand-color-dark;
	color: white;
	display: inline-block;
	margin: 0;
	padding: $vpad 1em;

	&:hover {
	    // TODO: Get this to work again
	    box-shadow: 0 calc($shad - $diff) 0 $brand-color-dark;
	    margin-bottom: -$diff;
	    padding-top: calc($vpad - $diff);
	    padding-bottom: calc($vpad + $diff);
	    text-decoration: none;
	}
    }
}    

.bg_stripes {
    background: repeating-linear-gradient(
	45deg,
	transparent,
	transparent 20px,
	$turquoise-color 20px,
	$turquoise-color 40px);
    color: $brand-color;
    -webkit-text-stroke: 1px $brand-color;
    text-stroke: 1px $brand-color;
}

.rounded {
    border-radius: 50%;
}
