---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="bg_stripes groys post-title">{{ page.title }}</h1>
    <p><code class="en trans">{{ page.title_en }}</code></p>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

</article>
